/*

ORDER: Base + typography > general layout + grid > page layout > components > responsive design

1em = 16px
1rem = 10px
*/

/* BASE */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html { font-size: 62.5%; /* 1rem = 10px */ }

body { 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; 
}

/* TYPOGRAPHY */

.heading-primary {
  color: #fff;
  font-size: 5rem;
  text-transform: uppercase;
  backface-visibility: hidden; /* Stops shakiness */
}

.heading-secondary {
  font-size: 3.5rem;
}

.paragraph { font-size: 1.6rem; }

/* GENERAL LAYOUT */

.container {
  max-width: 114rem;
  margin: 0 auto; 
}

.container::after {
  content: "";
  display: table;
  clear: both; 
}


/* Utilities */
.u-center-text { text-align: center !important; }

.u-margin-bottom-large { margin-bottom: 8rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-large { margin-top: 10rem !important; }

.container .col-1-of-2 { width: calc((100% - 6rem) / 2); }
.container .col-1-of-3 { width: calc((100% - 2 * 6rem) / 3); }
.container .col-2-of-3 { width: calc(2 * ((100% - 2 *6rem) / 3) + 6rem); }
.container .col-1-of-4 { width: calc((100% - 3 * 6rem) / 4); }
.container .col-2-of-4 { width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
.container .col-3-of-4 { width: calc(3 * ((100% - 3 * 6rem) / 4) + 6rem * 2); }



/* Animations */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); 
  }
  80% {
    transform: translateX(1rem); 
  }
  100% {
    opacity: 1;
    transform: translate(0); } 
  }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); 
  }
  80% {
    transform: translateX(-1rem); 
  }
  100% {
    opacity: 1;
    transform: translate(0); 
  } 
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); 
  }
  100% {
    opacity: 1;
    transform: translate(0); 
  } 
}

/* Page Layout */

section {
  padding-top: 6rem;
}

.page-container {
  position: relative;
  min-height: 100vh;
  margin-bottom: -14rem;
}

.push {
  margin-bottom: 14rem;
}

.header__main {
  height: 100vh;
  background-image: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url(./images/hero.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  position: relative;
}

.header__text {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 10rem;
  position: absolute;
  top: 46%;
  right: 20%;
  transition: transform .3s ease;
}

.header__text:hover {
  transform: scale(1.2);
}

.header__primary {
  color: #fff;
  margin-top: -9rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  animation: moveInRight 1.5s ease-out;
}

.header__secondary {
  color: #bbbbbb;
  font-size: 5rem;
  margin-top: 1rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  animation: moveInLeft 1.5s ease-out;
}

.nav {
  z-index: 10;
  width: 100%;
  list-style: none;
  font-size: 2rem;
  text-transform: uppercase;
}

.nav__list {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 8px;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.25);
  width: 100%;
  padding: 6rem;
  padding-bottom: 0;
  text-align: right;
}

.nav__item {
  transition: all .5s ease-out;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 2rem;
}

.nav__link:link, .nav__link:visited {
  color: #aaa;
  transition: all .3s ease-in-out;
  text-decoration: none; 
}

.nav__link:hover {
  color: #fff;
}

.nav__link-active:link, .nav__link-active:visited {
  color: #000;
  cursor: default;
}

.nav__link-inverted:hover {
  color: #000;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 14rem;
  /* margin-top: 2rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icons {
  display: flex;
  justify-content: center; 
}

.fa {
  margin: 0 2.5rem;
  opacity: 80%;
  padding: 1.6rem;
  font-size: 4.5rem;
  width: auto;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease-in-out; 
}

.fa:hover {
  opacity: 1;
  transform: scale(1.2); 
}

.fa-facebook {
  color: #000;
  width: 6.8rem; 
}
.fa-facebook:hover {
  color: #1877f2; 
}

.fa-instagram {
  color: #000; 
}
.fa-instagram:hover {
  color: #d6249f; 
}

.fa-youtube {
  color: #000; 
}
.fa-youtube:hover {
  color: #ff0000; 
}


/* Components */

/* Gallery */

.about-paragraph {
  font-size: 1.8rem;
  padding: 0 2rem;
  text-align: center;
}

.about-paragraph:not(:last-of-type) {
  padding-bottom: 1rem;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin: 1vmin;
  list-style-type: none;
}

.gallery-images {
  position: relative;
  height: 40vh;
  flex-grow: 1;
  margin: 2vmin;
}

.gallery-images:hover .gallery-img {
  filter: brightness(50%);
}
.gallery-images:hover .gallery-text {
  opacity: 1;
}
.gallery-images:last-child {
  flex-grow: 0;
}

.gallery-images a:focus {
  outline: 0;
}

.gallery-img {
  transition: filter .5s ease-in-out, transform .3s ease-out, border .3s ease-in-out;
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: bottom;
  box-shadow: 0px 0px 15px 2px rgba(100, 100, 100, 0.25);
  border-radius: 3px;
}

.gallery-text {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: opacity .5s ease-in-out;
  font-family: "Karla", sans-serif;
  color: #FFF;
  font-size: 2.2rem;
  opacity: 0;
}
.gallery-text:hover {
  cursor: pointer;
}

/* Gallery Videos */

.section-video-gallery .gallery-list {
  justify-content: center;
}

.gallery-videos {
  position: relative;
  width: 30rem;
  height: 30rem;
  flex-grow: 0;
  margin: 2vmin;
}

  .gallery-videos:hover .gallery-thumbnail {
    filter: brightness(50%);
  }
  .gallery-videos:hover .gallery-text {
    opacity: 1;
  }
  .gallery-videos:last-child {
    flex-grow: 0;
  }

  .gallery-videos a:focus {
    outline: 0;
  }

.gallery-thumbnail {
  transition: filter .5s ease-in-out, transform .3s ease-out, border .3s ease-in-out;
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  box-shadow: 0px 0px 15px 2px rgba(100, 100, 100, 0.25);
  border-radius: 3px;
}

.video-wrapper{
  width: 100%;
}

.video {
  display: block;
  width: 100%;
  margin: 0 auto;
}

/* Login */

.login-body {
  background-color: #435165;
}


.login {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}
.login h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}
.login form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.login form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #3274d6;
  color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}
.login form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #3274d6;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
background-color: #2868c7;
  transition: background-color 0.2s;
}

/* Admin page */

.admin-text {
  font-size: 2rem;
  color: #4a536e;
  margin: 0;
  padding: 2.5rem 0;
  border-bottom: 1px solid #e0e0e3;
}

.content .form-header {
  text-align: center;
  padding: 1.5rem 0;
}

.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
  font-weight: bold;
  font-size: 1.3rem;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}
body.loggedin {
	background-color: #f3f4f7;
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p:not(.admin-text), .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

.content p {
  font-size: 1.6rem;
}

/* Add photos */

.content .add-photos-wrapper {
  background-color: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
}

.content .new-content {
  align-self: center;
  flex-grow: 0;
  padding: 0;
  margin: 3rem 3rem;
}

.new-content form {
  flex-direction: column;
  flex: 1 0 100%;
  align-items: center;
}

.admin-form .add-project label {
  border-radius: .5rem;
  width: 10rem;
  height: 4rem;
  margin: 1rem 0;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.admin-form .add-project label:hover {
  background-color: #e74c3c;
}

.add-project input[type=file]:focus + label {
  outline: 1px dotted #000;
  background-color: #e74c3c;
}

.add-project input[type=file] {
  /* width: .01rem;
  height: .01rem;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; */
}

/* Register */

.admin-form {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}
.admin-form h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}
.admin-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.admin-form form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #3274d6;
  color: #ffffff;
}
.admin-form form input[type="password"],
.admin-form form input[type="text"],
.admin-form form input[type="email"],
.admin-form form input[type="int"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}
.admin-form form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #3274d6;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.admin-form form input[type="submit"]:hover {
background-color: #2868c7;
  transition: background-color 0.2s;
}

/* Edit projects */

.content .remove__project--container {
  padding: 0;
  width: 40rem;
  margin: 3rem auto 0 auto;
}

.remove__project--container input[type="submit"] {
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: #e74c3c;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  border: 0;
}

.modify__projects--wrapper {
  display: flex;
  flex-direction: column;
}

.modify__projects--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.modify__projects--imgs {
  height: 20rem;
  width: auto;
}

.modify__projects--name {
  text-align: right;
  flex-basis: 10rem;
}

.label-container {
  display: flex;
}

.body-edit .edit-project label {
  background-color: #555;
  width: 7rem;
  text-align: center;
  vertical-align: center;
}

/* Error */

.error {
  font-size: 5rem;
  color: #555;
}

/* Responsive Design */


@media all and (min-width: 112.5em) { /* Big desktops - 1800px+ */
  .header__text {
    right: 10%;
  }
}

@media all and (max-width: 75em) { /* Landscape tablets - 1200px */
  .header__main {
    background-image: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url(./images/hero_mobile.jpg);
  }
  .header__text {
    right: 5%;
  }

  .gallery-list {
    padding: 2rem;
  }

  .gallery-image {
    height: 30vh;
  }

  .container{
    max-width: 100rem;
  }
}


@media all and (max-width: 56.25em) { /* Portrait tablets - 900px */
  .u-margin-bottom-large {
    margin-bottom: 5rem !important; 
  } 
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important; 
  }

  .gallery-img {
    width: 40vw;
  }

  .about-paragraph {
    font-size: 1.6rem;
  }
}


@media all and (max-width: 37.5em) { /* Phone - 600px */
  section {
    padding-top: 0;
  }

  .header__secondary {
    margin-top: 0;
  }

  .nav__list {
    text-align: center;
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
  }
  .nav__item {
    display: inline;
  }
  .nav__link:hover:after, .nav__link:hover:before {
    width: 36%; 
  }

  .header__text {
    font-size: 6rem;
    right: auto;
    text-align: center;
    width:100%;
  }

  .gallery-list {
    text-align: center;
    padding: 2rem 8rem;
  }
  .gallery-images {
    height: auto;
    margin: 2vmin auto 4vmin auto;
    width: 100%;
  }
  
  .gallery-img {
    width: 40vw;
  }
}